*{
    margin: 0;
    padding: 0;
}

body{
    font-family: poppins;
    background-color: #ece9e9;
}

header{
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 65px;
}
p{
    font-size: 30px;
}

.main{
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 365px;
    width: 300px;
    border-radius: 10px;
    font-size: 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: 60px;
}
.on-click{
    height: 600px;
    width: 400px;
    scale: 1.2;
}
.clk {
    height: 20px;
    width: 20px;

}
.invis{
    display: none;
}
.more-info{
    width: 90%;
    font-size: 20px;
}
.more-info div{
    display: flex;
    justify-content: space-between;

}
.more-info span{
    text-align: right;
}
.temp{
    display: flex;
    gap: 5px;
}

.feel-temp{
    font-size: 20px;
    align-self:flex-end;
    margin-bottom: 3px;
}
.description{
    font-size: 25px;
    text-transform: capitalize;
}

.cur-temp{
    font-size: 35px;
}
.day{
    font-size: 35px;
}
.month-date{
    font-size: 25px;
}
img{
    height: 150px;
    width: 150px;
}
