*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: poppins;
}


.nav{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ece9e9;
    font-size: 30px;
    gap: 20px;
}
.nav img{
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 755px;
    margin-top: 20px;
    background-color: white;
    width: 80%;
    margin: 10px auto;
    border-radius: 5px;
    gap: 20px;
}

.search-box{
    display: flex;
    width: 1491px;
    height: 85px;
    align-items: center;
    justify-content: center;
    background-color: #ece9e9;
    margin-top: 10px;
    border-radius: 5px;
}

.search-box input{
    height: 55px;
    width: 72%;
    margin: 0 10px;
    border-radius: 5px;
    border: none;
    padding: 0 10px 0 10px;
    background-color: white;

}
 button{
    height: 50px;
    width: 160px;
    background-color: black;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 19px;
    border-radius: 5px;
    border: none;
}
.search-box button img{
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

.search-box button:active{
    transform: scale(1.01);
    transition: transform 0.1s;
}

.main-container{
    background-color: #ece9e9;
    height: 250px;
    width: 1470px;
    display: flex;
    flex-direction: column;
    margin: 0px 27px ;
    border-radius: 5px;
    padding: 0px 10px;
   
}

.city-name{
    font-size: 40px;
}
.temp-part{
    display: flex;
    border-radius: 5px;

}

.temp-part img{
    height: 100px;
    width: 100px;
    margin: 20px auto;
}

.weather-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
    height: 100%;
}
.min-max img{
    height: 20px;
    width: 20px;
    margin: 0 5px;
}
.min-max{
    display: flex;
    gap: 20px;
    font-size: 20px;
    margin-top: 9px;
}
.description{
    font-size: 20px;
}

.temp{
    font-size: 60px;
}
.feels-like{
    font-size: 20px;
}

.third-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    height: 340px;
}


.card-4{
    background-color: #ece9e9;
    height: 185px;
        width: 735px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.row{
    display: flex;
    gap: 20px;
}

.card-details{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 25px;
}
.card-details img{
    height: 100px;
    width: 100px;
    margin: 10px;
}


.third-container h3{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}
.flex{
    display: flex;
    flex-direction: column;
}

.five-day-forcast{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.five-day-forcast button{
    height: 50px;
    width: 1491px;
    background-color: black;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 19px;
    border-radius: 5px;
    border: none;   
}

